<?xml version="1.0"?>
<config>
    <modules>
        <Dever_Cart>
            <version>0.0.1</version>
        </Dever_Cart>
    </modules>
    <global>
        <helpers>
            <dever_cart>
                <class>Dever_Cart_Helper</class>
            </dever_cart>
        </helpers>
        <models>
            <dever_cart>
                <class>Dever_Cart_Model</class>
            </dever_cart>
        </models>
        <resources>
            <dever_cart_setup>
                <setup>
                    <module>Dever_Cart</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dever_cart_setup>
            <dever_cart_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dever_cart_read>
            <dever_cart_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dever_cart_write>
        </resources>
        <events>
            <sales_quote_collect_totals_after>
                <observers>
                    <dever_cart_add_free_product>
                        <type>singleton</type>
                        <class>Dever_Cart_Model_Observer</class>
                        <method>addFreeProduct</method>
                    </dever_cart_add_free_product>
                    <dever_cart_add_bundle_product>
                        <type>singleton</type>
                        <class>Dever_Cart_Model_Observer</class>
                        <method>addBundleProduct</method>
                    </dever_cart_add_bundle_product>
                </observers>
            </sales_quote_collect_totals_after>
        </events>
    </global>
</config>