<?xml version="1.0"?>
<config>
    <modules>
        <Dever_Catalog>
            <version>0.0.1</version>
        </Dever_Catalog>
    </modules>
    <global>
        <blocks>
            <dever_catalog>
                <class>Dever_Catalog_Block</class>
            </dever_catalog>
            <catalog>
                <rewrite>
                    <product_view>Dever_Catalog_Block_Product_View</product_view>
                </rewrite>
            </catalog>
        </blocks>
    </global>
</config>